
main {
    padding-top: 120px;
    background: white;
    width: 1550px;
    height: 289px;
    margin: 0 15px;
    
}
img {
    width:50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 255px;
      border-radius: 25px;
      background: #0F77BB;
      text-align: center;
}
img:hover {
    background: #4b48f3; /* Цвет фона при наведении */
    color: rgb(255, 255, 255); /* Цвет текста при наведении */
   }
   ul li  { 
    display: inline;
    margin: 0 100px;
    border:1px solid white;
    text-align:center;
    list-style-type: none;
}
.signatures{ 
font-size: 14px;
letter-spacing: 0px;
line-height: 24px;
color:#000000;
font-family: "Proxima Nova";
text-align: center;
text-transform: uppercase;
}